In [2]:
import pandas as pd
import numpy as np


data= pd.read_csv('/Users/melissavidiera/Downloads/mercedes-benz-greener-manufacturing/test.csv', 
                  usecols =['X1','X2','X3','X4','X5','X6'])
data.head()

  X1  X2 X3 X4 X5 X6
0  v   n  f  d  t  a
1  b  ai  a  d  b  g
2  v  as  f  d  a  j
3  l   n  f  d  z  l
4  s  as  c  d  y  i

In [4]:
data.shape

(4209, 6)

In [6]:
#how many unique categories are present in each and every col


for col in data.columns:
    print(col, ":", len(data[col].unique()))#, 'labels')

X1 : 27
X2 : 45
X3 : 7
X4 : 4
X5 : 32
X6 : 12

In [8]:
#from shape I got that there are 6 columns. 
#for all column data in 6 column use for loop 
# calculate get data of columns and its unique: data[col].unique()
# then find length and print 

for col in data.columns:
    print(col, ":", len(data[col].unique()), 'labels')

X1 : 27 labels
X2 : 45 labels
X3 : 7 labels
X4 : 4 labels
X5 : 32 labels
X6 : 12 labels

In [9]:
#using scikit learn we can use onehotencoder() (OHE)
#using pandas we can use :pandas.get_dummies() 
#is used for data manipulation. 
#It converts categorical data into dummy or indicator variables.

pd.get_dummies(data, drop_first=True)

,X1_aa,X1_ab,X1_b,X1_c,X1_d,X1_e,X1_f,X1_g,X1_h,X1_i,...,X6_c,X6_d,X6_e,X6_f,X6_g,X6_h,X6_i,X6_j,X6_k,X6_l
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4205,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4206,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4207,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4208,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [11]:
pd.get_dummies(data, drop_first=True).shape

#there were 6 columns and now we have 121 columns. rest are added to make categorical 
#data into indicator var

(4209, 121)

In [12]:
#now just for 6 columns,100+cols are added for onehot encoding.What if we have more cols
#according to studies, it has been proved that we consider top 10 or top 20 of most 
#frequent data occuring, then apply OHE

#from data take 2nd col X2 and apply value_counts: 
#method returns a Series containing the counts of unique values. 
#This means, for any column in a dataframe

data.X2.value_counts()

as    1658
ae     478
ai     462
m      348
ak     260
r      155
n      113
s      100
f       85
e       84
ay      78
aq      72
a       44
b       38
k       25
t       25
ag      23
ac      20
ao      19
i       15
z       12
ap      11
p       10
aw       9
h        6
d        6
g        5
q        5
au       5
al       4
ad       4
af       4
ab       4
ah       3
am       3
w        3
at       3
j        2
x        2
av       1
ax       1
y        1
aj       1
an       1
u        1
Name: X2, dtype: int64

In [13]:
#sort it in descending order and use head(20) so that we get top 20 

data.X2.value_counts().sort_values(ascending= False).head(20)

# here as category has 1658 result, ae etc. 
# apart from these 20, consider all as 0

as    1658
ae     478
ai     462
m      348
ak     260
r      155
n      113
s      100
f       85
e       84
ay      78
aq      72
a       44
b       38
k       25
t       25
ag      23
ac      20
ao      19
i       15
Name: X2, dtype: int64

In [18]:
# MAKING 10 BINARY VARIABLE TO APPLY OHE

#store these top 10 data into a var. tke index

top_10= data.X2.value_counts().sort_values(ascending= False).head(10).index
top_10

Index(['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e'], dtype='object')

In [19]:
#use for loop and store in list 

top_10=[x for x in data.X2.value_counts().sort_values(ascending= False).head(10).index]
top_10 #shows top 10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [25]:
#now apply OHE i.e, making all variables in matrix format

#consider for loop that runs through top_10 and get the top_10 result
#now if top_10 is there in X2 col's data: data[x2] then mark 1 else 0 


for label in top_10:
    data[label] = np.where(data['X2'] == label,1,0) #here if my data[x2] is coming under top10 make 1 else 0


data[['X2']+top_10].head(40) #make 2D array where 1st col is X2 and then add all top_10 as rows and cols

# check aq, ag: these are not in top_10 that means all the values will be 0

    X2  as  ae  ai  m  ak  r  n  s  f  e
0    n   0   0   0  0   0  0  1  0  0  0
1   ai   0   0   1  0   0  0  0  0  0  0
2   as   1   0   0  0   0  0  0  0  0  0
3    n   0   0   0  0   0  0  1  0  0  0
4   as   1   0   0  0   0  0  0  0  0  0
5   ai   0   0   1  0   0  0  0  0  0  0
6   ae   0   1   0  0   0  0  0  0  0  0
7   ae   0   1   0  0   0  0  0  0  0  0
8    s   0   0   0  0   0  0  0  1  0  0
9   as   1   0   0  0   0  0  0  0  0  0
10   s   0   0   0  0   0  0  0  1  0  0
11   b   0   0   0  0   0  0  0  0  0  0
12   e   0   0   0  0   0  0  0  0  0  1
13  ae   0   1   0  0   0  0  0  0  0  0
14  ak   0   0   0  0   1  0  0  0  0  0
15   e   0   0   0  0   0  0  0  0  0  1
16   s   0   0   0  0   0  0  0  1  0  0
17   e   0   0   0  0   0  0  0  0  0  1
18  ai   0   0   1  0   0  0  0  0  0  0
19  as   1   0   0  0   0  0  0  0  0  0
20   e   0   0   0  0   0  0  0  0  0  1
21   e   0   0   0  0   0  0  0  0  0  1
22  ai   0   0   1  0   0  0  0  0  0  0
23   e   0   0   0  0   0  0  0  0  0  1
24  ai   0   0   1  0   0  0  0  0  0  0
25   s   0   0   0  0   0  0  0  1  0  0
26   m   0   0   0  1   0  0  0  0  0  0
27  as   1   0   0  0   0  0  0  0  0  0
28   m   0   0   0  1   0  0  0  0  0  0
29  as   1   0   0  0   0  0  0  0  0  0
30  as   1   0   0  0   0  0  0  0  0  0
31  as   1   0   0  0   0  0  0  0  0  0
32  as   1   0   0  0   0  0  0  0  0  0
33   a   0   0   0  0   0  0  0  0  0  0
34  aq   0   0   0  0   0  0  0  0  0  0
35  as   1   0   0  0   0  0  0  0  0  0
36  ae   0   1   0  0   0  0  0  0  0  0
37  ak   0   0   0  0   1  0  0  0  0  0
38  ag   0   0   0  0   0  0  0  0  0  0
39  ae   0   1   0  0   0  0  0  0  0  0